{# apps/mlops/templates/mlops/train_model.html #}
{% extends "mlops/base.html" %}
{% block content %}
{% if not retrain_mode %}
<h2>모델 학습 및 성능 평가</h2>
<form method="post">
    {{ form.csrf_token }} {# Essential for security #}
    <div>
        {{ form.model_id.label }}:
        {{ form.model_id }}
        {{ form.submit }}
    </div>
</form>
{% endif %}
{% if metrics %}
    <h3>성능</h3>
    <table>
    {% for k,v in metrics.items() %}
        <tr><td>{{k}}</td><td>{{ '%.4f'|format(v) }}</td></tr>
    {% endfor %}
    </table>
{% endif %}
{% if retrain_report %}
    <h3>재학습 결과 성능</h3>
    <table>
    {% for k,v in retrain_report.items() %}
        <tr><td>{{k}}</td><td>{{ '%.4f'|format(v) }}</td></tr>
    {% endfor %}
    </table>
{% elif retrain_mode %}
    <form method="post">
    {{ form.csrf_token }} {# Essential for security #}
        <button type="submit">재학습 시작(추론+정답 입력된 데이터 활용)</button>
    </form>
{% endif %}
{% endblock %}